/* *{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
}
.card{
    display: flex;
    justify-content: space-around;
    align-items:  center ;
    flex-flow: wrap;
    margin-top: 4rem;
    gap: 20px;

}
.cards{
    width: 22rem;
    height: 22rem;
    
}
.section{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 2rem auto;
}
.box{
    color: white;
    width: 250px;
    height: 150px;
    background-color: cadetblue;

} */